@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.shadow-custom{
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.7);
}

.slick-prev,
.slick-next {
    /* font-size: 30px; */
    color: black;
}

.slick-prev::before,
.slick-next::before {
    /* font-size: 30px; */
    color: black;
  
}



@media (max-width: 1180px) {
    .slick-prev, .slick-next {
    z-index: 1;
    top: 50%;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 22px;
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: black; 
  }
   
  }
  
  /* *{
    border: 1px solid red;
  } */

 

/* /////////////////////////////// */


